[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
"flake8-docstrings" = "*"
"flake8-per-file-ignores" = "*"
click = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
pyinstaller = "*"
rope = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
