[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
openpyxl = "*"

[dev-packages]
"autopep8" = "*"
"flake8-docstrings" = "*"
"flake8-per-file-ignores" = "*"
"flake8" = "*"
mypy = "*"
pytest = "*"
pyinstaller = "*"
rope = "*"

[requires]
python_version = "3.7"
